* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Pixelify Sans', sans-serif;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 15px;
}

section,header,footer,nav {
    margin-left: 200px;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    section,header,footer,nav,aside,img {
      width: 100%;
    }
    section,header,footer,nav {
        margin-left: 0px;
        padding-left: 0px;
    }
    aside {
        position: relative;

    }
  }