* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Onest', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Pixelify Sans', sans-serif !important;
}

header {
    height: 230px;
    width: 100%;
    /*background-color: rgb(56, 146, 224);*/
    padding: 20px;
}

.contenedor,.paginacion ul {
    width: 100%;
    height: 100%;
    padding: 5px;
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.paginacion ul {
    list-style: none;
} 

.logoleft {
    width: 45%;
    height: 100%;
    padding: 3px;
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 50%;
    height: 100%;
}

.derecha {
    width: 45%;
    height: 100%;
    padding: 3px;
    /*background-color: tomato;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.derecha form {
    width: 100%;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.derecha form input,.derecha form button {
    height: 40px;
    padding: 5px;
    text-align: center;
} 

@media only screen and (max-width: 600px) {
    .logoleft,.derecha {
      width: 100%;
    }
    header {
        height: 100%;
    }
}

.post {
    width: 100%;
    height: 100%;
    padding: 5px;
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}