<nav class="navigation-menu">
    <ul>
        <li><a href="index.php">Landing Compra</a></li>
        <li><a href="propuestaCliente.php">Formulario de Propuesta</a></li>
        <li><a href="mostlyphpsoftware.php">Mostly Php Software</a></li>
        <li><a href="versoft.php">Versoft</a></li>
        <li><a href="crud.php">Crud Example</a></li>
        <li><a href="./p4ws/plan/plan.php">Plan</a></li>
        <li><a href="panelAdministrativo.php">Panel Administrativo</a></li>
        <li><a href="../pagina-dominios-adaptowebs/p4ws/components/CreateProject/CreateProject.php">
            Create Project
        </a></li>
    </ul>
</nav>
